extends ../components/base/layout

block variables
  - const title = "Круизы в Антарктику" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "destinations.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +wip()

block modals
