mixin wip()
  section.wip
    .container.wip__container
      .wip__text
        h2 Страница в&nbsp;разработке
        +picture("content/intro", "penguins", "jpg", 560, 301, "Стайка пингвинов на снегу.").wip__img
