@use "../variables" as v;
@use "../mixins" as m;

.booking {
  position: relative;

  background-color: v.$color-default-bg;

  &__container {
    padding: 51px 11.93% 51px;

    @include m.vp-1023 {
      padding: 88px 100px 100px;
    }

    @include m.vp-767 {
      padding: 60px 15px 65px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;

    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    column-gap: 4.54%;
    row-gap: 60px;

    @include m.vp-1023 {
      grid-template-columns: repeat(1, minmax(10px, 1fr));
      gap: 53px;
    }

    @include m.vp-767 {
      row-gap: 33px;
    }
  }

  &__text {
    place-self: center;
    padding-bottom: 6px;

    @include m.vp-1023 {
      padding-bottom: 0;
    }

    h2 {
      margin: 0;

      font-size: 40px;
      line-height: 60px;
      //letter-spacing: 0.07em;

      @include m.vp-1023 {
        text-align: center;

        font-size: 34px;
        line-height: 51px;
      }

      @include m.vp-767 {
        font-size: 24px;
        line-height: 31px;
      }
    }

    p {
      margin: 7px 0 0;

      font-size: 18px;
      line-height: 27px;

      @include m.vp-1023 {
        text-align: center;

        max-width: 390px;
        margin: 3px auto 0;
      }

      @include m.vp-767 {
        margin-top: 13px;

        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    img {
      object-fit: cover;
      object-position: bottom;

      height: 100%;
      width: 100%;
    }
  }

  &__form-wrapper {
    place-self: center end;

    padding: 45px 50px 50px;
    width: 403px;

    color: v.$color-default-white;

    background-color: v.$color-default-black;
    box-shadow: 0 4px 45px 0 rgba(1, 28, 64, 0.15);

    @include m.vp-1023 {
      place-self: center;
    }

    @include m.vp-767 {
      padding: 35px 30px 40px;
      width: 100%;
    }

    h3 {
      margin: 0;

      font-weight: 500;
      font-size: 18px;
      line-height: 27px;

      @include m.vp-767 {
        text-align: center;
        line-height: 25px;
      }
    }

    .custom-toggle__label {
      font-size: 10px;
      line-height: 13px;

      @include m.vp-767 {
        margin-left: 5px;
      }
    }
    // Стили для чекбокса НЕ вложенного в лейбл
    //.custom-input--no-label {
    //  span {
    //    position: absolute;
    //
    //    width: 1px;
    //    height: 1px;
    //    margin: -1px;
    //    padding: 0;
    //    overflow: hidden;
    //
    //    white-space: nowrap;
    //
    //    border: 0;
    //
    //    clip: rect(0 0 0 0);
    //    clip-path: inset(100%);
    //  }
    //
    //  input {
    //    margin-left: 0;
    //  }
    //}
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(1, minmax(10px, 1fr));
    gap: 20px;

    margin-top: 26px;

    @include m.vp-767 {
      margin-top: 29px;
    }
  }

  &__btn {
    margin-top: 9px;

    @include m.vp-767 {
      margin-top: 5px;
    }
  }
}
