@use "../variables" as v;
@use "../mixins" as m;

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 10px 20px;
  width: 100%;

  color: v.$color-default-black;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  background-color: v.$color-default-white;
  border: none;
  cursor: pointer;

  transition: opacity v.$trans-default;

  &--black {
    color: v.$color-default-white;

    background-color: v.$color-default-black;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include m.hover-focus {
    opacity: 0.8;
  }
}
