@use "../variables" as v;
@use "../mixins" as m;

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.catalog {
  background-color: v.$color-default-white;

  .container {
    padding: 85px 118px 120px;
    max-width: 1366px;

    @include m.vp-1279 {
      padding: 95px 60px 120px;
    }

    @include m.vp-1023 {
      padding: 86px 60px 100px;
    }

    @include m.vp-767 {
      padding: 65px 15%;
    }

    @include m.vp-374 {
      padding: 56px 25px 65px;
    }
  }

  h2 {
    text-align: center;

    margin: 0;

    font-weight: 600;
    font-size: 28px;
    line-height: 42px;

    @include m.vp-1023 {
      font-size: 26px;
      line-height: 39px;
    }

    @include m.vp-767 {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(10px, 1fr));
    gap: 30px;

    margin-top: 50px;
    margin-bottom: 0;
    padding-left: 0;

    list-style-type: none;

    @include m.vp-1023 {
      grid-template-columns: repeat(2, minmax(10px, 1fr));
    }

    @include m.vp-767 {
      grid-template-columns: repeat(1, minmax(10px, 1fr));

      margin-top: 30px;
    }
  }

  &__item {
    position: relative;

    justify-self: center;

    width: 100%;
    aspect-ratio: 1/1.48;

    transition: opacity v.$trans-default;

    overflow: auto;

    @include m.vp-1023 {
      aspect-ratio: 1/1.25;
    }

    @include m.vp-767 {
      aspect-ratio: 1/1.43;
    }

    &-content {
      position: relative;
      z-index: 1;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      padding: 28px 30px 22px;

      height: 100%;

      color: v.$color-default-white;

      @include m.vp-1023 {
        padding: 28px 35px;
      }

      @include m.vp-767 {
        padding: 17px 25px;
      }

      &:hover,
      &:focus,
      &:focus-within {
        background-color: v.$color-default-black;

        padding: 28px 20px 33px 25px;

        @include m.vp-1023 {
          justify-content: space-between;
          padding: 28px 30px 33px 34px;
        }

        @include m.vp-767 {
          padding: 28px 21px 31px 25px;
        }

        .catalog__item-details {
          display: grid;

          animation: fadeIn 1s;
        }
      }

      h3 {
        display: inline-block;
        vertical-align: bottom;

        margin: 0;

        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
      }
    }

    &-details {
      display: none;

      grid-template-columns: repeat(1, minmax(10px, 1fr));
      gap: 10px;

      overflow-y: auto;
      overflow-x: auto;

      scrollbar-width: none;

      ///* stylelint-disable */
      //&::-webkit-scrollbar {
      //  display: none;
      //}
      ///* stylelint-enable */

      // стили для скроллбара
      scrollbar-color: rgba(155, 155, 155, 0.8);
      //scrollbar-width: thin;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(155, 155, 155, 0.8);
        border-radius: 20px;
        border: transparent;

        &:hover {
          background-color: rgba(155, 155, 155, 0.6);
        }

        &:active {
          background-color: rgba(155, 155, 155, 0.4);
        }
      }

      dl {
        margin: 0;
      }

      dt {
        margin-top: 10px;

        font-weight: 500;
        font-size: 14px;
        line-height: 20px;

        @include m.vp-1279 {
          font-size: 13px;
        }

        @include m.vp-1023 {
          font-size: 14px;
        }
      }

      dd {
        margin: 2px 0 0;

        font-size: 14px;
        line-height: 20px;
      }
    }

    &-bg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background-color: v.$color-default-bg;

      img {
        object-fit: cover;

        height: 100%;
        width: 100%;
      }
    }
  }

  &__btn {
    width: 97%;
    margin: 13px 0 3px 2px;
  }
}
