@use "../variables" as v;
@use "../mixins" as m;

.custom-toggle {
  position: relative;

  input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }

  label {
    position: relative;

    display: flex;
    align-items: center;

    min-height: 20px;
    padding-left: 23px;

    cursor: pointer;

    transition: opacity v.$trans-default;

    span {
      margin-bottom: 0;
      margin-left: 0;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  &--checkbox {
    .custom-toggle__icon {
      position: absolute;
      top: 0;
      left: 0;

      width: 18px;
      height: 18px;

      background-color: v.$color-default-white;

      transition: opacity v.$trans-default, border v.$trans-default;

      &::before {
        position: absolute;
        top: 40%;
        left: 50%;
        opacity: 0;

        width: 6px;
        height: 10px;

        border-right: 1px solid v.$color-default-black;
        border-bottom: 1px solid v.$color-default-black;

        transform: translate(-50%, -50%) rotate(45deg);

        transition: opacity v.$trans-default, border v.$trans-default;
      }
    }
  }

  &--radio {
    .custom-toggle__icon {
      position: absolute;
      top: 0;
      left: 0;

      width: 28px;
      height: 28px;

      border: 1px solid #2c39f2;
      border-radius: 50%;

      transition: border v.$trans-default;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 20px;
        height: 20px;

        color: rgba(255, 255, 255, 0);

        border-radius: 50%;
        transform: translate(-50%, -50%);

        transition: color v.$trans-default;
      }
    }
  }

  input:checked + .custom-toggle__icon {
    &::before {
      content: "";
      opacity: 1;
    }
  }

  &.is-invalid {
    label span {
      color: #ff1553;
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
