@use "../variables" as v;
@use "../mixins" as m;

.header {
  position: relative;

  min-height: 650px;

  color: v.$color-alice-blue;
  line-height: 20px;
  font-weight: 500;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  background-color: v.$color-default-bg;

  @include m.vp-1023 {
    min-height: 638px;

    font-size: 14px;
    line-height: 17px;

    box-shadow: none;
  }

  @include m.vp-767 {
    min-height: 500px;

    font-size: 18px;
    line-height: 22px;
  }

  &__container {
    padding-top: 33px;
    min-height: 70px;

    @include m.vp-1023 {
      padding-top: 30px;
    }

    @include m.vp-767 {
      padding: 0;
    }
  }

  a {
    transition: opacity v.$trans-default;

    @include m.hover-focus {
      opacity: 0.6;
    }
  }

  &__hero {
    position: relative;
    z-index: 1;

    padding: 194px 50px 50px 95px;
    max-width: 100%;

    @include m.vp-1023 {
      padding-top: 215px;
      padding-left: 0;
    }

    @include m.vp-767 {
      padding-top: 116px;
      padding-left: 15px;
    }

    h1 {
      margin: 0;

      font-size: 54px;
      line-height: 66px;

      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

      @include m.vp-1023 {
        font-size: 50px;
        line-height: 61px;
      }

      @include m.vp-767 {
        font-size: 36px;
        line-height: 45px;
      }
    }

    p {
      margin: 12px 0 0;

      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.01em;

      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

      @include m.vp-1023 {
        font-size: 18px;
        line-height: 22px;
      }

      @include m.vp-767 {
        margin-top: 10px;

        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: v.$color-default-bg;

    img {
      object-fit: cover;
      object-position: bottom;

      height: 100%;
      width: 100%;
    }
  }
}
