@use "../variables" as v;
@use "../mixins" as m;

.header {
  position: relative;

  padding: 34px 0;
  min-height: 650px;

  color: v.$color-alice-blue;
  line-height: 20px;
  font-weight: 500;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  background-color: v.$color-default-bg;

  @include m.vp-1023 {
    padding: 25px 0 30px;
    min-height: 638px;

    font-size: 14px;
    line-height: 17px;

    box-shadow: none;
  }

  @include m.vp-767 {
    padding: 20px 0;
    min-height: 500px;

    font-size: 18px;
    line-height: 22px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(1, minmax(10px, 1fr));
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    min-height: 30px;
  }

  a {
    transition: opacity v.$trans-default;

    @include m.hover-focus {
      opacity: 0.6;
    }
  }

  &__hero {
    position: relative;
    z-index: 1;

    padding-top: 194px;
    padding-left: 199px;
    max-width: 100%;

    @include m.vp-1023 {
      padding-top: 213px;
      padding-left: 45px;
    }

    @include m.vp-767 {
      padding-top: 126px;
      padding-left: 15px;
    }

    h1 {
      margin: 0;

      font-size: 54px;
      line-height: 66px;

      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

      @include m.vp-1023 {
        font-size: 50px;
        line-height: 61px;
      }

      @include m.vp-767 {
        font-size: 36px;
        line-height: 45px;
      }
    }

    p {
      margin: 12px 0 0;

      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.01em;

      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

      @include m.vp-1023 {
        font-size: 18px;
        line-height: 22px;
      }

      @include m.vp-767 {
        margin-top: 10px;

        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: v.$color-default-bg;

    img {
      object-fit: cover;
      object-position: bottom;

      height: 100%;
      width: 100%;
    }
  }
}

.header__burger {
  display: none;

  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;

  padding: 0;
  width: 55px;
  height: 60px;

  border: none;

  background-color: transparent;

  cursor: pointer;

  transition: opacity v.$trans-default;

  @include m.hover-focus {
    opacity: 0.6;
  }

  @include m.vp-767 {
    display: block;
  }

  // MobileMenu default state

  span,
  span::after,
  span::before {
    position: absolute;
    content: "";

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    width: 24px;
    height: 2px;

    background-color: v.$color-default-white;

    transition: transform 0.2s ease-in-out;
  }

  span::before {
    transform: translate(0, -6px);
  }

  span::after {
    transform: translate(0, 6px);
  }
}

// Opened menu states

.is-open {

  // MobileMenu cross state

  .header__burger {
    span,
    span::before {
      background-color: v.$color-default-black;
      width: 18px;
    }

    span::after {
      display: none;
    }

    span::before {
      transform: translate(0, 0) rotate(90deg);
    }

    span {
      transform: translate(8px, 2px) rotate(45deg);
    }
  }

  // opened menu bg

  .header__bg::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    /* stylelint-disable-next-line */
    height: calc(100 * var(--vh, 1vh));

    @include m.vp-767 {
      background-color: rgba(0, 43, 102, 0.5);
    }
  }
}
