@use "../variables" as v;
@use "../mixins" as m;

.main-nav {
  z-index: 3;

  display: grid;
  grid-template-columns: repeat(2, minmax(10px, auto));
  gap: 10px;

  transition: transform 0.2s ease-in-out;

  @include m.vp-767 {
    grid-template-columns: repeat(1, minmax(10px, auto));
  }

  &__logo {
    z-index: 3;

    color: v.$color-default-white;

    svg {
      @include m.vp-1023 {
        width: 38px;
        height: 20px;
      }

      @include m.vp-767 {
        width: 42px;
        height: 22px;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    gap: 4px 33px;

    list-style: none;

    @include m.vp-1023 {
      gap: 4px 23px;
    }

    @include m.vp-767 {
      flex-direction: column;
      gap: 10px;

      padding-top: 33px;

      overflow: auto;
    }
  }

  &__link {
    display: block;

    color: inherit;

    @include m.vp-767 {
      padding: 10px 40px 8px 0;
    }

    &.is-active {
      opacity: 0.6;
    }
  }
}

// Стили мобильного меню в шапке
header .main-nav {
  @include m.vp-767 {
    position: fixed;
    top: 0;
    right: 0;

    padding: 20px 30px 20px 15px;
    height: 100vh;
    /* stylelint-disable-next-line */
    height: calc(100 * var(--vh, 1vh));

    color: v.$color-default-black;

    background-color: v.$color-default-white;

    transform: translate(100%);

    overflow: hidden;
  }
}

.is-open {
  .main-nav {
    @include m.vp-767 {
      transform: translate(0);

      grid-template-rows: fit-content(10px);

      overflow: auto;
    }
  }

  .main-nav__logo {
    color: v.$color-default-black;
  }
}
