mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container
      a.footer__logo(href="index.html")
        div
          +icon("logo", 70, 38)
      +main-nav()
      ul.footer__socials-list
          li
            a.footer__socials-link(target="_blank" href="https://vk.com/htmlacademy")
              span.visually-hidden Мы в Одноклассниках.
              +icon("socials_ok", 20, 20)
          li
            a.footer__socials-link(target="_blank" href="https://vk.com/htmlacademy")
              span.visually-hidden Мы в Яндекс Дзен.
              +icon("socials_dzen", 20, 20)
          li
            a.footer__socials-link(target="_blank" href="https://vk.com/htmlacademy")
              span.visually-hidden Мы в Reddit.
              +icon("socials_reddit", 20, 20)
