mixin header(headerMods, currentUrl)
  header.header(class=headerMods data-header)
    .container.header__container
      +main-nav('mobileMenu').header__main-nav
      section.header__hero
        h1 Круизы в&nbsp;Антарктику
        p Волшебный мир айсбергов&nbsp;и&nbsp;пингвинов
      div.header__bg(data-close-menu)
        +picture("content/header", "header", "jpg", 1366, 650, "Облака, заснеженные горы, залив.")
