mixin header(headerMods, currentUrl)
  header.header(class=headerMods data-header)
    .container
      a.header__logo(href="index.html")
        div
          +icon("logo", 70, 38)
      button.header__burger.btn-reset(
        type="button",
        aria-label="Переключатель отображения меню",
        aria-pressed="false"
        data-burger
      )
        span
      +main-nav()
    div.header__hero
      h1 Круизы в&nbsp;Антарктику
      p Волшебный мир айсбергов и&nbsp;пингвинов
    div.header__bg(data-close-menu)
      +picture("content", "header", "jpg", 1366, 650, "Облака, заснеженные горы, залив.")
