mixin header(headerMods, currentUrl)
  header.header(class=headerMods data-header)
    .container.header__container(data-mobile-menu-container)
      button.header__burger.btn-reset(
        type="button",
        aria-label="Переключатель отображения меню",
        aria-pressed="false"
        data-burger
      )
        span
      +main-nav().header__main-nav
    div.header__hero
      h1 Круизы в&nbsp;Антарктику
      p Волшебный мир айсбергов&nbsp;и&nbsp;пингвинов
    div.header__bg(data-close-menu)
      +picture("content/header", "header", "jpg", 1366, 650, "Облака, заснеженные горы, залив.")
